#head {
    background-color: rgb(15, 15, 15);
    color: rgb(247, 247, 247);
    margin-top: 0;
    padding: 30px;
    margin-bottom: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif
  }

.body {
  margin: 0;
  padding: 1;
  background-image:url("wallpaperflare.com_wallpaper\ \(1\).jpg")
}   

#heading {
    display: block;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 100%;
    font-size: 50px;
    opacity: 0.9;
    color: rgb(8, 8, 8);
  }

#navigation {
    word-spacing:30px;
    text-align: center;
    padding: 7px;
    margin:0px;
    background-color:rgb(192, 30, 30);   
    font-size: 20px;
  }
.nav{
    text-decoration: none;
    color:rgb(241, 231, 231);
    float:center;
    font-weight:bold;
    font-family: Courier;
    word-spacing: 50px;

}
#sect{
    display: inline-block
}

#section{
    display: inline-block;
    border: 2px solid black;
    width: 650px;
    height:400px;
    border-radius:15px;
}
#intro{
    color: rgb(14, 16, 19);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#para{
    color: rgb(10, 0, 0);
    
}

#Trending{
    
    float: right;
    border: 2px solid black;
    width: 650px;
    height:800px;
    border-radius:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(10, 8, 8);
}

#userreview{
    display: inline-block;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid yellowgreen;
    border-radius: 10px;
    margin-top: 10px;
    width: 585px;
    height: 400px;
}
#footer {
    background-color:rgb(29, 26, 26);
    color: beige;
    margin:0;
    padding-bottom: 30px;
    padding-top: 20px;
    width:100%;
    text-align: center;
    word-spacing: 90px;
}


#footer2{
    text-align: center;
    word-spacing: 0px;
   
    opacity:0.7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:20;
    color:rgb(248, 229, 229);
    display:block;

    margin:0;padding: 0%;
}